*{margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;}
body{
    background-color: #fff;
    font-size: 12pt;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #2428F3;
    text-decoration: underline;
}
#acess-menu{/*Barra de acessibilidade*/
    width: 100%;
    height: auto;
    float: left;
    background-color: #fff;
}
#atalhos{
    font-size: 11pt;
    list-style: none;
    padding-left: 2%;
    padding-top: 3px;
    padding-bottom: 3px;
}
#atalhos li{
    display: inline;
    padding-left: 2%;
}
#atalhos li a {
    color: #000
}
#atalhos li a:hover{
    color: #2428F3;
}
#pg-acess{
    margin-left: 20%;
}
#topo{/*header*/
    widows: 100%;
    height: auto;
    background-color: #e0d619;
}
#topo-align{/*alinhamento do logo, barra de pesquisa e icones de usuários*/
    width: 100%;
    min-height: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
#logo{
    width: 175px;
    height: auto;
    padding: 5%;
}
.pesquisa{/*barra de pesquisa*/
    margin-left: 10%;
    width: 40%;
}
#pesquisa::placeholder{
    padding-left: 1%;
}
input[type=submit]{
    display: none;
}
input[type=search]{
    width: 100%;
    height: 30px;
    float: left;
    border: none;
    border-radius: 5px;
    padding-left: 1%;
}
#bt-pesquisa{
    border: none;
    background-color: #fff;
    margin-left: -4%;
    margin-top: 0.15rem;
}
#bt-pesquisa img{
    width: 1.4rem;
    border: none;
}
#icon-user{/*área do usuário*/
    width: 25rem;
    min-height: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-left: 8%;
    padding: 0 1%;
    list-style: none;
}
#icon-user li{
    margin-left: 1rem;
}
#icon-user li a{
    color: #000;
    text-decoration: none;
    font-size: 11pt;
}
#icon-user li a:hover{
    text-decoration: underline;
}
#icon-user li img{
    width: 2.5rem;
}
#assinatura{
    margin-left: 15px;
}
#carrinho{
    margin-left: 5px;
}
#pedidos{
    margin-left: 25px;
}
#cliente{
    margin-left: 30px;
}
/*Menu Responsivo*/
label[for="bt-menu"]{
    display: none;
}
#bt-menu{
    display: none;
}
#menu{/*Menu*/ 
    list-style: none;
    background-color: #e0d619;
    float: left;
    margin: 0 14%;
    padding: 0 20px;
}
#menu li{
    position: relative;
    float: left;
}
#menu li a{
    color: #000;
    text-decoration: none;
    padding: 5px 20px;
    display: block;
}
#menu li a:hover{
    background-color: #f0f008;
}
#menu li ul{/*Submenu*/
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #e0d619;
    display: none;
}
#menu li:hover ul, #menu li.over ul{
    display: block;
}
#menu li ul li{
    display: block;
    width: 240px;
}
#menu li ul li ul{/*sub-submenu*/
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #e0d619;
}
#menu li ul li:hover ul, #menu li ul li.over ul{
    visibility: visible;
}
#menu li ul li ul li{
    display: block;
    width: 175px;
}/*fim sub-submenu*/
#conteudo{/*área de conteúdo*/
    width: 100%;
    height: auto;
}
.breadcrumb{/*breadcrumbs*/
    padding-left: 2%;
    padding-top: 42px;
    margin-bottom: 1%;
    list-style: none;
}
.breadcrumb li{
    display: inline;
    font-size: 10pt;
    color: black;
}
.breadcrumb li a{
    color: #19A4E0;
    text-decoration: none;
}
.breadcrumb li a:hover{
    text-decoration: underline;
}
.breadcrumb li+li:before{
    padding: 8px;
    color: #000;
    content: "/\00a0";/*\00a0 indica o acréscimo de espaço após a barra*/
}
#banner{/*index.html*/
    margin-top: 28px;
}
.banner{
    width: 45%;
    height: auto;
    margin-left: 25%;
    margin-right: 25%;
    border:solid rgb(228, 228, 228);
}
.title{
    color: #19A4E0;
    font-size: 18pt;
    padding: 1% 2%;
}
#prod-container{
    flex-direction: row;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.produto-home{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 20%;
    height: 16rem;
    min-height: auto;
    margin: 3%;
}
.produto-foto{
    width: 8rem;
    height: auto;
    margin-left: 25%;
}
.bt-comprar{
    background-color: #e0d619;
    border: none;
    width: 50%;
    height: 25px;
    border-radius: 15px;
    margin-left: 30%;
    margin-top: -10%;
    font-size: 12pt;
}
.bt-comprar:hover{
    background-color: #f0f008;
}
#marca-parceira{
    width: 100%;
    height: auto;
    background-color: #e0d619;
}
#marca-parceira img{
    width: 15rem;
    height: auto;
    display: inline-flex;
}
#pedigree{
    margin: 1rem 5rem;
}
#whiskas{
    margin: 0 0 3rem 5rem;
}
#purina{
    margin: 0 0 1rem 10rem;
}
#magnus{
    margin: 0 0 4rem 5rem;
}
.blog-title{
    margin: 1% 3%;
    font-size: 14pt;
}
#blog-1{
    content: "";
    clear: boath;
    display: table;
    width: 80%;
}
#blog-1 img{
    width: 12rem;
    margin: 0 1.5% 3% 3%;
    float:left;
}
#blog-2{
    content: "";
    clear: boath;
    display: table;
    width: 80%;
}
#blog-2 img{
    width: 12rem;
    margin: 0 1.5% 0 3%;
    float:left;
}
#adocao-logo{
    width: 1.5rem;
}
#adocao{
    flex-direction: row;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.pets{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: auto;
    margin-left: 6%;
}
.pet-foto{
    width: 10rem;
    height: auto;
    margin-left: 25%;
    border-radius: 10rem;
}
.nome-pet{
    font-size: 16pt;
    margin-left: 25%;
}
.info-pet{
    margin-left: 25%;
}
.bt-adotar{
    background-color: #e0d619;
    border: none;
    width: 30%;
    height: 25px;
    border-radius: 15px;
    margin-left: 25%;
    font-size: 12pt;
}
#conteudo-topo{/*página departamento cachorro.html*/
    flex-direction: row;
    width: 100%;
    height: auto;

}
label[for=ordenar]{
    margin-left: 80%;
}
#ordenar{
    width: 10rem;
    height: 1.25rem;
    border: 0.25px solid #000;
}
#filtro-categoria{
    width: 25%;
    height: auto;
}
#categoria-title{
    font-size: 14pt;
    color:#19A4E0;
    margin: 3% 10%;
}
#filtro li{
    margin-left: 20%;
}
#container-categoria{/*1ª linha de produtos*/
    flex-direction: row;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-left: 25%;
}
#prod-container2{ /*1ª linha de produtos*/
    margin-top: -70%;
    list-style: none;
    flex-direction: row-reverse;
    display:flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.title-cat{
    width: 80%;
    color: #19A4E0;
    font-size: 18pt;
    padding: 1% 2%;
    margin-top: -130%;
}
.produto-cat{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 36%;
    height: 16rem;
    margin: 0 -12% 45% -62% ;
}
#container-categoria2{/*2ª linha de produtos*/
    flex-direction: row;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-left: 51.44%;
    margin-top: 10%;
}
#prod-container3{/*2ª linha de produtos*/
    margin-top: -70%;
    list-style: none;
    flex-direction: row-reverse;
    display:flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
#container-categoria3{/*3ª e 4ª linha de produtos*/
    flex-direction: row;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-left: 51.44%;
    margin-top: 18%;
}
#prod-container4{/*3ª linha de produtos*/
    margin-top: -70%;
    list-style: none;
    flex-direction: row-reverse;
    display:flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
#prod-container5{/*3ª linha de produtos*/
    margin-top: -135%;
    margin-bottom: -100%;
    list-style: none;
    flex-direction: row-reverse;
    display:flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
#title-adocao{/*Página adocacao.html*/
    color: #19A4E0;
    font-size: 18pt;
    padding: 1% 2%;
    margin-top: -78%;
}
#container-adocao{/*1ª linha de animais*/
    flex-direction: row;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-left: 25%;
}
#adocao-container{
    flex-direction: row;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: -38%;
}
#container-adocao2{/*2ª linha de animais*/
    flex-direction: row;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
#adocao-container2{
    flex-direction: row;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin: -5% -30%;
}
.pag-adocao{
    flex-direction: row;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-left: -30%;
}
.pag-adocao2{/*2ª linha de animais*/
    flex-direction: row;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-left: -132%;
    margin-top: -15%;   
}
.pag-pets{
    display: block;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    width: 20rem;
    height: 25rem;
    margin-left: 2%;
    padding-top: 1%;
}
.infopag-pet{
    margin: 2% 10%;
    text-align: center;
}
.nomepag-pet{
    font-size: 16pt;
    margin: 2% 45%;
}
.bt-pgadotar{
    background-color: #e0d619;
    border: none;
    width: 60%;
    height: 25px;
    border-radius: 15px;
    margin: 3% 20%;
    font-size: 12pt;
}
#paginacao{ /*Página cachorro.html*/
    margin-top: -15%;
    margin-bottom: -5%;
}
#paginacao2{/*Página adocao.html*/
    margin-top: 5%;
    margin-bottom: -5%;
}
.pagination { /*Contador de página*/
    display: inline-block;
    margin-left: 50%;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
} 
.pagination a.active {
    background-color: #e0d619;
    color: white;
}
.pagination a:hover:not(.active) {
    background-color: #ddd;
}
#mapa-site{/*página mapasite.html*/
    width: 100%;
    margin-left: 6%;
}
#mapa-site li{
    list-style: none;
}
#mapa-site li ul{
    padding-left: 2%;
}
#mapa-site li a{
    color: #000;
    text-decoration: none;
}
#mapa-site li a:hover{
    color: #2428F3;
    text-decoration: underline;
}
.paragrafo{/*página acessibilidade.html*/
    color: #000;
    padding: 0 5% 0 5%;
    margin-top: 0.5rem;
}
.paragrafo li{
    padding-left: 3%;
    list-style: none;
}
#rodape{
    width: 100%;
    height: auto;
    background-color: #e0d619;
    font-size: 11pt;
    color: #000;
    text-align: center;
    margin-top:150px;
    padding: 15px 0;
}
#rod-cont1{/*bloco de informações sobre o Pet, Redes Sociais, Insitucional e Área do Cliente*/
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
    display: inline-flex;
    text-align: justify;
    align-content: center;
}
#endereco{
    flex-direction: column;
    justify-content: center;
    width: 20rem;
    height: auto;
    padding-right: 5%;
    margin-left: 3%;
}
#redes-sociais{
    flex-direction: column;
    justify-content: center;
    width: 10rem;
    height: auto;
    margin-left: 1.5%;
}
#redes-sociais li{
    list-style: none;
    float: left;
    padding: 2%;
}
#redes-sociais li img{
    width: 2rem;
    height: auto;
}
#institucional{
    flex-direction: column;
    margin-left: 10%;
    width: 12rem;
}
#institucional li{
    list-style: none;
}
#institucional li a{
    color: #000;
    text-decoration: none;
}
#institucional li a:hover{
    color: #2428F3;
    text-decoration: underline;
}
#clientes{
    flex-direction: column;
    margin-left: 10%;
    width: 13rem;
}
#clientes li{
    list-style: none;
}
#clientes li a{
    color: #000;
    text-decoration: none;
}
#clientes li a:hover{
    color: #2428F3;
    text-decoration: underline;
}
.mapa-site{
    width: 10rem;;
    color: #000;
    text-decoration: none;
    margin-left: 10%;
}
.mapa-site:hover{
    color:#2428F3;
    text-decoration: underline;
}
#rod-cont2{/*Bloco do mapa de localização*/
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: left;
    display: inline-flex;
    text-align: justify;
}
#mapa{
    width: 550px;
    height: 220px;
    margin-left: 60%;
    margin-bottom: 2%;
}
iframe{
    border: none;
}
img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]{
    display:none
}